<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <!-- <title>Jonathan Larson::Portfolio 2018</title> -->

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">

      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/hero.css">


</head>

<body>



  <div id="portfolio" class="demo">

    <div class=main>
        <div class=main-header>
          <div class=main-header-item @click="gotToApple()">
            <h1 class="main-header main-header__apple">Apple</h1>
            <div class="main-header-img main-header-img__apple">
              <img src="assets/apple/hero.png"/>
            </div>
          </div>
          <div class=main-header-item @click="gotToAirbnb()">
            <h1 class="main-header main-header__airbnb" >Airbnb</h1>
            <div class="main-header-img main-header-img__airbnb">
              <img src="assets/airbnb/hero.png"/>
            </div>
          </div>
          <div class=main-header-item @click="gotToHp()">
            <h1 class="main-header main-header__hp">HP</h1>
            <div class="main-header-img main-header-img__hp">
              <img src="assets/hp/hero.png"/>
            </div>
          </div>
          <div class=main-header-item  @click="gotToDh()">
            <h1 class="main-header main-header__dh">Dignity Health</h1>
            <div class="main-header-img main-header-img__dh">
              <img src="assets/dh/hero.png"/>
            </div>
          </div>
          <div class=main-header-item @click="gotToVx()">
            <h1 class="main-header main-header__vx">Virgin America</h1>
            <div class="main-header-img main-header-img__vx">
              <img src="assets/vx/hero.png"/>
            </div>
          </div>
          <div class=main-header-item @click="gotTovisa()">
            <h1 class="main-header main-header__visa">Visa</h1>
            <div class="main-header-img main-header-img__visa">
              <img src="assets/visa/hero.png"/>
            </div>
          </div>
        </div>


      </div>

  <div class="btn-group-wrap">
    <!-- <div class="btn-group">
      <div
           v-for="navButton in navButtonSet"
           type="button" @click="currentSelect = navButton.id, currentIndex = navButton.number, sendLog()"
           :class="['btn', { 'btn-primary': navButton.number === currentIndex, 'btn-default': navButton.number !== currentIndex }]"
           >

      </div>
    </div> -->


    <transition name="fade">
      <div class="btn-previous-wrap">
        <div @click="closeSlide()" class="close"></div>
      </div>
    </transition>
<!--

    <transition name="fade">
      <div v-if="slideLeft" class="btn-previous-wrap">
        <div @input="gotToPrev()" @click="gotToPrev()" class="btn-previous"></div>
      </div>
    </transition>

    <transition name="fade">
      <div v-if="slideRight" class="btn-next-wrap">
        <div @input="gotToNext()" @click="gotToNext()" class="btn-next"></div>
      </div>
    </transition> -->

  </div>



<transition
  v-on:enter="enter"
  v-on:after-enter="afterEnter"
  v-on:leave="leave"
  v-bind:css="false"
 >
  <component v-bind:is="currentSelect" class="current-slide">
  </component>
</transition>


</div>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js'></script> -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.0/vue-router.min.js'></script> -->
  <script src='js/libs/TweenMax.min.js'></script>
  <script src='js/libs/vue.js'></script>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.0/vue-router.min.js'></script> -->
  <script  src="js/index.js"></script>
  <!-- <script  src="js/vue-scrollview.min.js"></script> -->
  <!-- <script  src="js/show-on-scroll.js"></script> -->




</body>

</html>
